<h1>Real Time Products</h1>
<form id="form">
    <label>Title:</label><input type ="text" name="title" id="title">
    <label>Description:</label><input type ="text" name="description" id="description">
    <label>Price:</label><input type ="text" name="price" id="price">
    <label>Code:</label><input type ="text" name="code" id="code">
    <label>Stock:</label><input type ="text" name="stock" id="stock">
    <input type="submit" value="SEND">
</form>
<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>